anndata==0.12.2
scanpy==1.11.4
mygene==3.2.2
scimilarity==0.4.1
matplotlib==3.10.7
seaborn==0.13.2
requests
fastapi==0.119.0
uvicorn==0.38.0
torch==2.8.0
scikit-learn==1.7.2
python-multipart==0.0.20
